 <router-outlet></router-outlet>

<!-- <div class="container">
    <h1>Select your services</h1>
    <form [formGroup]="packageForm" (submit)="onSubmit()">
      <div class="form-group">
        <label for="name">Your name:</label>
        <input name="name" formControlName="name" />
      </div>
      <div formGroupName="ssc">
        <div class="form-group">
            <label>School Name</label>
            <input type="text" class="form-control" formControlName="sname">
        </div>
        <div class="form-group">
            <label>Percentage</label>
            <input type="text" class="form-control" formControlName="smarks">
        </div>
        <div class="form-group">
            <label>Year</label>
            <input type="text" class="form-control" formControlName="syear">
        </div>
      </div>
      <div formGroupName="inter">
        <div class="form-group">
            <label>School Name</label>
            <input type="text" class="form-control" formControlName="iname">
        </div>
        <div class="form-group">
            <label>Percentage</label>
            <input type="text" class="form-control" formControlName="imarks">
        </div>
        <div class="form-group">
            <label>Year</label>
            <input type="text" class="form-control" formControlName="iyear">
        </div>
      </div>
      <div formGroupName="unversity">
        <div class="form-group">
            <label>School Name</label>
            <input type="text" class="form-control" formControlName="uname">
        </div>
        <div class="form-group">
            <label>Percentage</label>
            <input type="text" class="form-control" formControlName="umarks">
        </div>
        <div class="form-group">
            <label>Year</label>
            <input type="text" class="form-control" formControlName="uyear">
        </div>
      </div>
      <div><button class="btn btn-primary">Save</button></div>
    </form>
  </div> -->

  <!-- <input type="file" accept=".jpg,.png,.jpeg" id="image-input" (change)="selectFile($event)">
<br><br> Original: Size: {{sizeOfOriginalImage | number : '1.2-2'}}MB
<br><img [src]="localUrl" height="200px">
<br><br><br> Compressed: Size: {{sizeOFCompressedImage | number : '1.2-2'}}MB<br>
<img [src]="localCompressedURl" height="150px"> -->
                        